ul {
  padding-left: 0;
  display: inline;
}
li {
  display: inline;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  margin-top: 3rem;
  color: red;
}
header a:link {
  color: red;
}
header a:visited {
  color: red;
}
header a:hover {
  color: brown;
}
.home-button {
  background-color: pink;
  padding: 5px 10px 10px 10px;
  border-radius: 30px;
  border: solid 1px white;
  /* border: solid 1px red; */
}
.home-button:hover {
  border: solid 1px red;
  /* background-color: pink; */
}
.home-button a {
  font-weight: bold;
}
.home-button a:hover {
  color: red;
}
header li {
  padding: 0 2rem;
}
footer {
  text-align: right;
}
.home-header {
  font-size: 10rem;
  margin: 0;
}
.home-subheader {
  font-size: 3rem;
  margin: 0;
}
img {
  align-self: flex-end;
}
#wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1550px;
  /* position: relative; */
}
main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10rem 0;
  display: flex;
  justify-content: space-between;
}

.headshot {
  width: 450px;
}

.socials {
  font-size: 1.5rem;
}
.socials li {
  padding: 0 0.2rem;
}
/* .leftmost {
  padding-left: 0;
}
.rightmost {
  padding-right: 0;
} */
.socials a:link {
  color: red;
}
.socials a:visited {
  color: red;
}
.socials a:hover {
  color: brown;
}
