ul {
  padding-left: 0;
  display: inline;
}
li {
  display: inline;
}
a {
  text-decoration: none;
}

/* header { */
/* position: fixed; */
/* top: 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  margin-top: 3rem;
  color: red; */
/* } */

#navbar {
  background-color: white;
  position: fixed;
  font-weight: bold;
  /* width: 100%; */
  /* margin: auto; */
  /* width: 1200px; */
  width: 95%;
  top: 0;
  left: 0;
  /* left: 0; */
  border: 1px solid red;
  /* right: 0; */
  font-size: 1.8rem;
  /* margin-top: 3rem; */
  /* padding-top: 3rem; */
  padding: 3rem;
  /* justify-content: right; */
  /* position: relative; */
  /* float: right; */
  /* position: absolute; */
}
#nav-flex {
  border: 1px solid blue;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  width: 65%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
nav li {
  padding: 0 2rem;
}

nav a:link {
  color: red;
}
nav a:visited {
  color: red;
}
nav a:hover {
  /* color: brown; */
}
.home-button {
  background-color: pink;
  padding: 5px 10px 10px 10px;
  border-radius: 30px;
  border: solid 1px white;
  /* border: solid 1px red; */
}
.home-button:hover {
  border: solid 1px red;
  /* background-color: pink; */
}
/* .home-button a {
  font-weight: bold;
}
.home-button a:hover {
  color: red;
} */

footer {
  text-align: right;
}
.home-header {
  font-size: 10rem;
  margin: 0;
}
.home-subheader {
  font-size: 3rem;
  margin: 0;
}
img {
  align-self: flex-end;
}
#wrapper {
  /* width: 65%; */
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  /* max-width: 1550px; */
  /* position: relative; */
}
/* TODO change current main to header */
main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 13rem 0 10rem 0;
  display: flex;
  justify-content: space-between;
}

.headshot {
  width: 450px;
}

.socials {
  font-size: 1.5rem;
}
/* .socials li {
  padding: 0 0.2rem;
} */
.socials a:link,
.socials a:visited {
  color: red;
  border: 1px solid white;
  padding: 0.2rem 0.3rem 0.4rem 0.3rem;
  border-radius: 5px;
}
/* .socials a:visited {
  color: red;
  border: 1px solid white;
} */
.socials a:hover {
  color: red;
  padding: 0.2rem 0.3rem 0.4rem 0.3rem;
  border-radius: 10px;
  border: 1px solid red;
}
